@model IEnumerable<FIVESTARVC.ViewModels.DashboardData>
@{
    ViewBag.Title = "Dashboard";
}


<h2> Dashboard </h2>
<div class="container">

    <div class="row col-md-10">
        <div class="col-md-3">
            <p>
                <em>Current</em> residents: @Html.Raw(ViewBag.pop)
            </p>
            <p>
                All-time residents: @Html.Raw(ViewBag.allpop)
            </p>
        </div>
        <div class="col-md-4">
            Room availability
            <div class="progress" style="height: 20px; width: 100px; margin-left: 4px;">
                <div class="progress-bar" role="progressbar" style="width: @ViewBag.PercentFilled%;" aria-valuenow=@ViewBag.roomsOccupied
                     aria-valuemax=@ViewBag.roomsMax>@ViewBag.roomsOccupied/@ViewBag.roomsMax</div>
                </div>
            </div>

            <div class="col-md-4">
                Graduation rate
                <div class="progress" style="height: 20px; width: 100px; margin-left: 4px;">
                    <div class="progress-bar" role="progressbar" style="width: @ViewBag.gradPercent%;" aria-valuenow=@ViewBag.Graduated
                         aria-valuemax=@ViewBag.Admitted>@ViewBag.Graduated/@ViewBag.Admitted</div>
                    </div>
                </div>
            </div>
    <hr />

            <div class="row col-md-10">
                <div class="col-md-3">
                <p> Birthdays coming up:</p>
                </div>
                @foreach (var resident in ViewBag.NearestResidents)
                {
                    <div class="col-md-2" style="margin-top: 0.5em;">
                        @resident.FirstMidName @resident.ClearLastName<br />
                        @resident.BDateMonthName @resident.ClearBirthdate.Day
                    </div>
                }
            </div>
    <hr />
            <div class="row" style="margin-top: 0.9em">
                <h4>Residents recently admitted into your center.</h4>

            </div>
            <div class="row">



                @foreach (var item in Model)
                {
                    <div class="col-md-3" style="margin-top: 0.9em;">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.FirstMidName @item.LastName</h5>
                                <label>Room: </label> @item.RoomNumber<br />
                                @Html.ActionLink("See more", "Details", "Residents", new { id = @item.ResidentID }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary btn-light" }) &nbsp;
                            </div>
                        </div>
                    </div>
                }



            </div>
    <br />

        </div>
