@model FIVESTARVC.Models.Resident
@using FIVESTARVC.Models;

@{
    Layout = null;
}


@using (Html.BeginForm("Discharge", "Residents"))
{
    @Html.AntiForgeryToken()

    <h4>Release @Model.Fullname</h4>
    <p> Are you sure you want to release this resident from your center?</p>
    <br />
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model => model.ResidentID)

    <div class="container">
        <div class="row">

            <div class="table-responsive">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td>@Html.Label("Release Date")</td>
                            <td>
                                <div class="input-group mb-2 col-sm-9">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-calendar fa-fw" style="width:40px;"></span>
                                    </div>
                                    <input type="date" name="DischargeDate" id="DischargeDate" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                </div>
                            </td>
                        </tr>
                        <tr>

                            <td class="col-form-label">

                                @Html.Label("Full name", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @(Model.Fullname)
                            </td>

                        </tr>

                        <tr>
                            <td class="col-form-label">@Html.LabelFor(model => model.ClearBirthdate, htmlAttributes: new { @class = "control-label" })</td>
                            <td>
                                @(Model.ClearBirthdate.ToShortDateString())
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label"> @Html.LabelFor(model => model.ServiceBranch, htmlAttributes: new { @class = "control-label" })</td>
                            <td>
                                @{
                                    var serviceDescription = FSEnumHelper.GetDescription(Model.ServiceBranch);


                                    @Html.DisplayFor(modelItem => serviceDescription)
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label"> @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label" })</td>
                            <td>
                                @ViewBag.releaseRoom
                            </td>
                        </tr>


                    </tbody>
                </table>



                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.Label("Release Reason", htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownList("ProgramTypeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProgramEvents, "")

                        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Note, "")
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Release</button>
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        if (!Modernizr.inputtypes.date) {
            $('input[type=date]')
                .attr('type', 'text')
                .datepicker({
                    // Consistent format with the HTML5 picker
                    dateFormat: 'mm-dd-yy'
                });
        }

        $(function () {
            $('#submit-btn').click(function () {
                $('#modal-container').modal('hide');
            });
        });
    </script>

}
