<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FIVE STAR Veterans Center</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    <style>

        #content {
            min-height: calc(100% - 285px);
            /* 285 should be the height of your header + height of footer. */
        }


        #footer {
            position: fixed;
            z-index: 10;
            left: 0px;
            bottom: 29px;
            height: 30px;
            width: 100%;
            background: #999;
        }

        /* IE 6 */
        * html #footer {
            position: absolute;
            top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
        }

        .progress {
            background-color: #aaa;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .fa {
            display: inline;
        }
    </style>
</head>

<body>

    <img src="~/Content/fivestar_logo.jpg" style="margin-top: -50px;" />
    <nav class="navbar navbar-dark d-print-none" style="background-image: url('../../Content/flag_bg.jpg')">
        <div class="container-fluid">

            <div class="navbar navbar-expand d-print-none">
                <ul class="nav navbar-nav d-print-none">
                    <li class="nav-item d-print-none" style="padding-right: 1em"><a href="/Home/Index" class="btn btn-lg btn-dark"><i class="fa fa-home fa-fw"></i> Dashboard</a></li>
                    <li class="nav-item d-print-none" style="padding-right: 1em"><a href="/Residents/Index" class="btn btn-lg btn-dark"><i class="fa fa-smile-o fa-fw"></i> Residents</a>
                    <li class="nav-item d-print-none" style="padding-right: 1em"><a href="/ProgramEvents/Index" class="btn btn-lg btn-dark"><i class="fa fa-share fa-fw"></i> Resident Tracking Log</a></li>
                    <li class="nav-item d-print-none" style="padding-right: 1em"><a href="/Reports/Index" class="btn btn-lg btn-dark"><i class="fa fa-book fa-fw"></i> Reports</a></li>
                </ul>

            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="submit-progress d-none">
        <label>Please wait for report generation...</label>
    </div>
    <div class="container-fluid body-content" style="padding-bottom: 0px;">


        @RenderBody()


    </div>

    <div id="AddModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body" id="form">
                </div>
            </div>
        </div>
    </div>
    <br />

    <div id="footer">
        <footer style="background-color: navy;">
            <div style="margin-left: 1em;">
                <p class="text-light" style="font-size: small">
                    &copy; @DateTime.Now.Year - FIVE STAR Veterans Center
                </p>
                <button class="btn btn-sm btn-primary" style="margin-top: -2em; font-size: small" onclick="aboutDialog()">Release @ViewContext.Controller.GetType().Assembly.GetName().Version</button>
            </div>
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    <script type="text/javascript">

        function aboutDialog() {

            $.get('/Home/About/', function (data) {
                $('.modal-title').html("About FIVESTARAPP");
                $('.modal-body').html = '';
                $('.modal-body').html(data);
                $('#AddModal').modal('show');

            });
        }

        function DisplayProgressMessage(ctl, msg) {
            $('form#report').submit(function(){
                $(this).find(':input[type=submit]').prop('disabled', true);

                $(ctl).text(msg);
                setTimeout(function () {
                    $(".submit-progress").removeClass("d-none");
                }, 1);
            });
            return true;
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
