<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FIVE STAR Veterans Center</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>
    <img src="~/Content/fivestar_logo.jpg" />
    <nav class="navbar navbar-dark justify-content-lg-start" style="background-color: navy">
        <div class="container">

            <div class="navbar navbar-expand">
                <ul class="nav navbar-nav">
                    <li class="btn nav-item">@Html.ActionLink(" ", "Index", new { controller = "Home" }, htmlAttributes: new { @class = "btn btn-lg fa fa-home fa-ul" })</li>
                    <li class="nav-item">@Html.ActionLink("Residents", "Index", new { controller = "Residents" }, htmlAttributes: new { @class = "btn btn-lg" })</li>
                    <li class="nav-item">@Html.ActionLink("Event Log", "Index", new { controller = "ProgramEvents" }, htmlAttributes: new { @class = "btn btn-lg" })</li>
                    <li class="nav-item">@Html.ActionLink("Reports", "Index",  new { controller = "Reports" }, htmlAttributes: new { @class = "btn btn-lg" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FIVE STAR Veterans Center</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
