<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FIVE STAR Veterans Center</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>
    <img src="~/Content/fivestar_logo.jpg" />
    <div class="navbar navbar navbar-default">
        <div class="container">

            <div class="navbar navbar-expand">
                <ul class="nav navbar">
                    <li><button class="btn btn-lg btn-default" onclick="location.href = '/Home';"> <span class="fa fa-home fa-fw" aria-hidden="true"></span></button></li>
                    <li><button class="btn btn-lg btn-primary" onclick="location.href='/Residents';"> Residents </button></li>
                    <li><button class="btn btn-lg btn-default" onclick="location.href = '/ProgramEvents';"> Event Log</button></li>
                    <li><button class="btn btn-lg btn-default" onclick="location.href='/Reports';"> Reports </button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FIVE STAR Veterans Center</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
