@model FIVESTARVC.ViewModels.CustomEvent
@using FIVESTARVC.Models

@{
    Layout = null;
}

<!-- Modal -->
<div class="container">
    

        @using (Html.BeginForm("ViewQuickEvent", "Residents"))
    {
        @Html.AntiForgeryToken()

    <div class="row">
        <input type="hidden" name="ResidentID" value="@ViewBag.ResidentID" />
        <p>
            @ViewBag.Fullname is starting a new track. 
        </p>
        <div class="form-group">
            @Html.LabelFor(model => model.ProgramTypeID, "Track name", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownList("ProgramTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProgramTypeID, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClearStartDate, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.ClearStartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClearStartDate, "")
            </div>
        </div>

        

        </div>
        <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Completed, htmlAttributes: new { @class = "control-label" })
            <div>
                <div class="checkbox">
                    @Html.EditorFor(model => model.Completed, new { htmlAtributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Completed, "")
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
            <div class="form-group form-inline">
                <div class="btn-toolbar mr-1">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Cancel
                    </button>

                    <button type="submit" id="submit-btn"
                            class="btn btn-primary"
                            style="margin-left: 5px;">
                        Save
                    </button>
                </div>
            </div>
   </div>

        }

</div>
 


        @section scripts {
            <script type="text/javascript">
                if (!Modernizr.inputtypes.date) {
                    $('input[type=date]')
                        .attr('type', 'text')
                        .datepicker({
                            // Consistent format with the HTML5 picker
                            dateFormat: 'mm-dd-yy'
                        });
                }

                $(function () {
                    $('#submit-btn').click(function () {
                        $('#modal-container').modal('hide');
                    });
                });

            </script>
        }

