@model FIVESTARVC.ViewModels.TempProgramEvent

<style>
    .biggerCheckBox {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        margin-left: 5px;
    }
</style>
@using (Html.BeginCollectionItem("ProgramEvents"))
{


    <td>
        @Html.LabelFor(model => model.ProgramTypeID, "Track name", htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.DropDownList("ProgramTypeID", null, "Select a track.", htmlAttributes: new { @class = "form-control with-default" })
            @Html.ValidationMessageFor(model => model.ProgramTypeID, "")
        </div>
    </td>
    <td>
        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StartDate, "")
        </div>
    </td>
    <td>
        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" }) (optional)
        <div>
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "")

        </div>
    </td>

    <td>
        @Html.LabelFor(model => model.Completed, htmlAttributes: new { @class = "control-label" })
        <div>

            <div>
                @Html.CheckBoxFor(model => model.Completed, htmlAttributes: new { @class = "biggerCheckBox" })
                @Html.ValidationMessageFor(model => model.Completed, "")
            </div>
        </div>
    </td>
    <td class="p-md-4">
        <input type="button" class="removeRow btn btn-sm btn-danger" value="Delete" />
    </td>


}


<script type="text/javascript">

    $('.with-default').on('change', function () {
        if ($(this).children('option[value=""]').length) {
            $(this).children('option[value=""]').remove()
        }
    });

</script>
