@model FIVESTARVC.Models.MilitaryCampaign
@using FIVESTARVC.Models;

@{
    Layout = null;

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.UpdateTargetId = "modalForm";
    options.InsertionMode = InsertionMode.Replace;
}



@using (Ajax.BeginForm("AddCampaign", "Residents", options, new { @class = "form-horizontal", role = "form" }))
{
    <div id="modalForm">
        <div class="modal-header">
            <h4 class="modal-title" id="AddCampaignLabel">Add Campaign</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            
        </div>
        <div class="modal-body">

            <p> Type in the name of the new campaign in the text box below and then click Add.</p>
            <p class="bg-info"> Note: campaigns are at most 3 words separated by a single space and 
            usually do not contain numbers.</p>
            <br />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-inline">
                @Html.LabelFor(Model => Model.CampaignName, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(Model => Model.CampaignName, htmlAttributes: new { @class = "form-control offset-1" })
                
                @Html.ValidationMessageFor(Model => Model.CampaignName, "")

            </div>
            <br />  
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>

        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">

        $.validator.unobtrusive.parse($("form"));
    </script>

}

