@model FIVESTARVC.Models.Room

@{
    Layout = null;

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.UpdateTargetId = "modalFormRoom";
    options.InsertionMode = InsertionMode.Replace;
}


@using (Ajax.BeginForm("AddRoom", "Rooms", options, new { @class = "form-horizontal", role = "form" }))
{
<div id="modalFormRoom">
    <div class="modal-header">
        <h4 class="modal-title" id="AddRoomLabel">Add Room to Center</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

    </div>
    <div class="modal-body">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <div class="text-danger" id="ErrorMessage"></div>
            <p> Type in the information for the room and then click Add.</p>
            <br />


            <div class="form-group form-inline">
                    @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RoomNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group form-inline">

                        @Html.LabelFor(model => model.WingName, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.WingName, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WingName)
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
        }



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript">

                $.validator.unobtrusive.parse($("form"));
            </script>

        }
