@model FIVESTARVC.ViewModels.ResidentIncomeModel
@using FIVESTARVC.Models;
@{
    Layout = null;
}
<style>
    .money-wide {
        width: 150px;
    }
</style>
<div class="col-sm-5 table-responsive">
    <h4>Monthly Income </h4>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th style="width: 300px;">Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.DisabilityPercentage, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>

                    @Html.EditorFor(model => model.DisabilityPercentage, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.DisabilityPercentage, "")
                </td>

            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.DisabilityAmount, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>

                    @Html.EditorFor(model => model.DisabilityAmount, new { htmlAttributes = new { @class = "form-control income" } })

                    @Html.ValidationMessageFor(model => model.DisabilityAmount, "")
                </td>

            </tr>
            <tr>
                <td class="col-form-label">@Html.LabelFor(model => model.SSI, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.SSI, new { htmlAttributes = new { @class = "form-control income" } })
                    @Html.ValidationMessageFor(model => model.SSI, "")
                </td>

            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.SSDI, htmlAttributes: new { @class = "control-label" })

                </td>
                <td>
                    @Html.EditorFor(model => model.SSDI, new { htmlAttributes = new { @class = "form-control income" } })
                    @Html.ValidationMessageFor(model => model.SSDI, "")
                </td>

            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.FoodStamp, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.FoodStamp, htmlAttributes: new { @class = "biggerCheckBox" })
                    @Html.ValidationMessageFor(model => model.FoodStamp, "")
                </td>
            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.OtherDescription, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.TextAreaFor(model => model.OtherDescription, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OtherDescription, "")
                </td>
            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control income" } })
                    @Html.ValidationMessageFor(model => model.Other, "")
                </td>
            </tr>
            <tr>
                <td class="col-form-label  alert-dark">
                    @Html.LabelFor(model => model.TotalBenefitAmount, htmlAttributes: new { @class = "control-label" })
                </td>
                <td class="alert-dark">
                    <div class="input-group mb-2 money-wide">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" id="DisplayTotal" disabled />
                        @Html.HiddenFor(model => model.TotalBenefitAmount)
                        @Html.ValidationMessageFor(model => model.TotalBenefitAmount, "")

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
