@model FIVESTARVC.Models.Resident
@using FIVESTARVC.Models;

@{
    Layout = null;
}

<div class="col-sm-5 table-responsive">
    <h4>Income </h4>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th class="col-md-2">Type</th>
                <th class="col-md-2">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.DisabilityPercentage, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    <div class="input-group money-wide mb-2">

                        @Html.EditorFor(model => model.Benefit.DisabilityPercentage, new { htmlAttributes = new { @class = "form-control money-wide" } }) 
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                        @Html.ValidationMessageFor(model => model.Benefit.DisabilityPercentage, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td class="col-form-label">@Html.LabelFor(model => model.Benefit.SSI, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.Benefit.SSI, new { htmlAttributes = new { @class = "form-control income money-wide" } })
                    @Html.ValidationMessageFor(model => model.Benefit.SSI, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.SSDI, htmlAttributes: new { @class = "control-label" })

                </td>
                <td>
                    @Html.EditorFor(model => model.Benefit.SSDI, new { htmlAttributes = new { @class = "form-control  income money-wide" } })
                    @Html.ValidationMessageFor(model => model.Benefit.SSDI, "", new { @class = "text-danger" })
                </td>

            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.FoodStamp, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Benefit.FoodStamp, new { htmlAttributes = new { @class = "form-control income money-wide" } })
                    @Html.ValidationMessageFor(model => model.Benefit.FoodStamp, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.OtherDescription, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Benefit.OtherDescription, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Benefit.OtherDescription, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.Other, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Benefit.Other, new { htmlAttributes = new { @class = "form-control income money-wide" } })
                    @Html.ValidationMessageFor(model => model.Benefit.Other, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td class="col-form-label alert-dark">
                    @Html.LabelFor(model => model.Benefit.TotalBenefitAmount, htmlAttributes: new { @class = "control-label" })
                </td>
                <td class="col-form-label alert-dark">
                    <div class="input-group mb-0 money-wide">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        @Html.EditorFor(model => model.Benefit.TotalBenefitAmount, new { htmlAttributes = new { @class = "form-control font-weight-bold" } })
                        @Html.ValidationMessageFor(model => model.Benefit.TotalBenefitAmount, "", new { @class = "text-danger" })

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
