@model FIVESTARVC.Models.Resident
@using FIVESTARVC.Models;

@{
    Layout = null;
}
<style>
    .money-wide {
        width: 150px;
    }
</style>
<div class="col-sm-5">
    <h4>Income </h4>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th style="width: 300px;">Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.DisabilityPercentage, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    

                        @Html.EditorFor(model => model.Benefit.DisabilityPercentage, new { htmlAttributes = new { @class = "form-control percent" } })
                        
                    @Html.ValidationMessageFor(model => model.Benefit.DisabilityPercentage, "")
                </td>

            </tr>
            <tr>
                <td class="col-form-label">@Html.LabelFor(model => model.Benefit.SSI, htmlAttributes: new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.Benefit.SSI, new { htmlAttributes = new { @class = "form-control income" } })
                    @Html.ValidationMessageFor(model => model.Benefit.SSI, "")
                </td>

            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.SSDI, htmlAttributes: new { @class = "control-label" })

                </td>
                <td>
                    @Html.EditorFor(model => model.Benefit.SSDI, new { htmlAttributes = new { @class = "form-control  income" } })
                    @Html.ValidationMessageFor(model => model.Benefit.SSDI, "")
                </td>

            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.FoodStamp, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Benefit.FoodStamp)
                    @Html.ValidationMessageFor(model => model.Benefit.FoodStamp, "")
                </td>
            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.OtherDescription, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Benefit.OtherDescription, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Benefit.OtherDescription, "")
                </td>
            </tr>
            <tr>
                <td class="col-form-label">
                    @Html.LabelFor(model => model.Benefit.Other, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.Benefit.Other, new { htmlAttributes = new { @class = "form-control income" } })
                    @Html.ValidationMessageFor(model => model.Benefit.Other, "")
                </td>
            </tr>
            <tr>
                <td class="col-form-label alert-dark">
                    @Html.LabelFor(model => model.Benefit.TotalBenefitAmount, htmlAttributes: new { @class = "control-label" })
                </td>
                <td class="col-form-label alert-dark">
                    <div class="input-group mb-0 money-wide">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" id="DisplayTotal" disabled />
                        @Html.HiddenFor(model => model.Benefit.TotalBenefitAmount)
                        @Html.ValidationMessageFor(model => model.Benefit.TotalBenefitAmount, "")

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   
}
