@model FIVESTARVC.Models.ProgramType


@{
    Layout = null;

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.UpdateTargetId = "modalForm";
    options.InsertionMode = InsertionMode.Replace;
}



@using (Ajax.BeginForm("ViewQuickEvent", "ProgramEvents", options, new { @class = "form-horizontal", role = "form" }))
{

            <p> Type the name of the new track in the text box below, and then click Add.</p>

            <br />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")


            <div class="form-inline">
                @Html.LabelFor(Model => Model.ProgramDescription, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(Model => Model.ProgramDescription, htmlAttributes: new { @class = "form-control offset-1" })

                @Html.ValidationMessageFor(Model => Model.ProgramDescription, "")

            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
}

@section Scripts {
    <script type="text/javascript">

        $.validator.unobtrusive.parse($("form"));
    </script>

}

