@model FIVESTARVC.Controllers.LoginViewModel
@using FIVESTARVC.Controllers

@{
    /**/

    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-5">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                <p>
                    Enter your username and password below. If you do not know this information, please contact your
                    system administrator.
                </p>
                @Html.HiddenFor(model => model.ReturnUrl)

                @Html.ValidationSummary(true, "", htmlAttributes: new { @class = "alert-danger" })
                <div class="border">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Username, "")
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </section>
        <br />
    </div>
</div>