@model List<FIVESTARVC.ViewModels.ResidencyReportViewModel>



@{
    /**/

    ViewBag.Title = "Residency Report";
}
<div class="float-right text-uppercase">As Of: @DateTime.Today.ToShortDateString()</div>
<div style="margin-top: 10px; margin-bottom: 10px;">
    <button class="btn btn-default" onclick="location.href='/Reports/Index';" style="background-color: lightsteelblue"> Return to Reports </button><br>
</div>


<table class="table table-sm table-striped">
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Admitted
        </th>
        <th>
            Days In Residence
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item != null)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>
                    @foreach (var date in item.AdmitDates)
                    {@Html.Encode(date)<br />}
                </td>
                <td>@Html.DisplayFor(modelItem => item.DaysInResidence)</td>
            </tr>
        }
    }

</table>

<dl>
    <dt>Current Residents</dt>
    <dd>@Model.Where(i => i.IsCurrent).Count()</dd>
    <dt>Months Average Stay</dt>
    <dd>@Math.Round(Model.Select(i => i.MonthsStayed).Average(), 2)</dd>
</dl>

<div style="margin-bottom: 25px;">
    <button class="btn btn-default" onclick="location.href='/Reports/Index';" style="background-color: lightsteelblue"> Return to Reports </button><br>
</div>

