@model FIVESTARVC.Models.ProgramEvent
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Historic Data";
}

<h3>Yearly Data</h3>
<table class="table">
    <tr>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Service Branch
        </th>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Total Count
        </th>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Current Count
        </th>
    </tr>
    <tr>
        <td>
            Navy
        </td>
        <td>
            @Html.Raw(ViewBag.NavyCount)
        </td>
    </tr>
    <tr>
        <td>
            Army
        </td>
        <td>
            @Html.Raw(ViewBag.ArmyCount)
        </td>
    </tr>
    <tr>
        <td>
            Marines
        </td>
        <td>
            @Html.Raw(ViewBag.MarineCount)
        </td>
    </tr>
    <tr>
        <td>
            Air Force
        </td>
        <td>
            @Html.Raw(ViewBag.AirForceCount)
        </td>
    </tr>
    <tr>
        <td>
            Coast Guard
        </td>
        <td>
            @Html.Raw(ViewBag.CoastGuardCount)
        </td>
    </tr>
</table>
