@model FIVESTARVC.Models.Resident
@using PagedList.Mvc;
@using FIVESTARVC.Models;


@{
    /**/

    ViewBag.Title = "Reports";
}

@*Required for the Bootstrap dropdown.*@
<script type="text/javascript" src="~/Scripts/umd/popper.js"></script>

<div class="btn-group d-print-none mt-lg-1">
    <button class="btn btn-secondary" style="margin-right: 10px;" onclick="location.href = '/Reports/DownloadData';">
        <i class="fa fa-arrow-down fa-fw"></i> Download Data
    </button>

    <button class="btn btn-secondary" style="margin-right: 10px;" onclick="location.href = '/Reports/campaigns';"><i class="fa fa-line-chart fa-fw"></i> Campaigns</button>

    <div class="dropdown">
        <button style="margin-right: 10px;" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-line-chart fa-fw"></i> Chart Data by Year
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" onclick="location.href = '/Reports/gradRates';"><i class="fa fa-plus fa-fw"></i> Graduation Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/admittedRates';"><i class="fa fa-plus fa-fw"></i> Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/readmittedRates';"><i class="fa fa-plus fa-fw"></i> Re-Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/p2iRates';"><i class="fa fa-plus fa-fw"></i> P2I Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/emergRates';"><i class="fa fa-plus fa-fw"></i> Emergency Shelter Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/dischargeRates';"><i class="fa fa-plus fa-fw"></i> Discharge Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/vetCourtRates';"><i class="fa fa-plus fa-fw"></i> Vet-Court Rates</button></li>

        </ul>
    </div>

    <div class="dropdown">
        <button style="margin-right: 10px;" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-line-chart fa-fw"></i> Cumulative Charts
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" onclick="location.href = '/Reports/gradRatesCum';"><i class="fa fa-plus fa-fw"></i> Cumulative Graduation Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/admittedRatesCum';"><i class="fa fa-plus fa-fw"></i> Cumulative Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/readmittedRatesCum';"><i class="fa fa-plus fa-fw"></i> Cumulative Re-Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/p2iRatesCum';"><i class="fa fa-plus fa-fw"></i>Cumulative P2I Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/emergRatesCum';"><i class="fa fa-plus fa-fw"></i> Cumulative Emergency Shelter Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/vetCourtRatesCum';"><i class="fa fa-plus fa-fw"></i> Cumulative Vet-Court Rates</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/DischargeForCauseChart';"><i class="fa fa-plus fa-fw"></i> Cumulative Discharge for Cause Rates</button></li>
        </ul>
    </div>
    <div class="dropdown">
        <button style="margin-right: 10px;" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-line-chart fa-fw"></i> Resident Reports
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" onclick="location.href = '/Reports/UpToYearResidentAgeReport/';"><i class="fa fa-file-o fa-fw"></i> Resident Age Up To Year Report</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/ResidentsByYearReport/';"><i class="fa fa-file-o fa-fw"></i> Residents By Year</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/DaysInResidenceReport';"><i class="fa fa-file-o fa-fw"></i> Residency Report</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/CurrentResidentReport';"><i class="fa fa-file-o fa-fw"></i> Current Resident Report</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/ResidentsByAdmittanceTypeReport';"><i class="fa fa-file-o fa-fw"></i> Residents By Admittance Category</button></li>
            <li><button class="dropdown-item" onclick="location.href = '/Reports/ResidentsByDischargeTypeReport';"><i class="fa fa-file-o fa-fw"></i> Residents By Discharge Category</button></li>

        </ul>

    </div>
</div>

@*<button class="btn btn-secondary mt-lg-1" style="margin-right: 10px;" onclick="printReport()"><i class="fa fa-file-pdf-o fa-fw"></i> Report PDF</button>*@

<input type="hidden" name="report" />
<hr />
<h2>Center Summary</h2>
<div class="mb-lg-3">
    <p>
        <strong>Cumulative Residents: </strong> @ViewBag.CumulativeCount,
        <strong>Current Residents: </strong> @ViewBag.TotalCount,
        <strong>(Not HLC, Em-Shel, Current):</strong> @ViewBag.MinusHLCEmShelCurrent,
        <strong>Total Graduated: </strong> @ViewBag.Graduated
    </p>
</div>
<hr />


<div id="reportHtml">

    <div class="container">
        <div class="row">

            <div class="col-md-4">

                <div id="GenderGroups">
                    Getting demographic data...
                </div>
                <div id="GenderGroupsCumulative">
                    Getting demographic data...

                </div>

                <div id="AverageStay">
                    Getting stay data...

                </div>
            </div>
            <div class="col-md-4">
                <div id="AgeGroups">
                    Getting demographic data...

                </div>
                <div id="AgeGroupsCumulative">
                    Getting demographic data...
                </div>
            </div>

            <div class="col-md-4">
                <div id="Referrals">
                    Getting referrals data...
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-4">

                <h4>Center Performance</h4>
                <h5>Resident Intake vs. Success</h5>
                <table class="table table-sm">
                    <tr>
                        <th>
                            Metric
                        </th>
                        <th>
                            Cumulative Total
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Admitted
                        </td>
                        <td>
                            @{
                                if (ViewBag.Admitted == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.Admitted)
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Emergency Shelter
                        </td>
                        <td>
                            @{
                                if (ViewBag.EmergencyShelter == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.EmergencyShelter)
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total Discharged
                        </td>
                        <td>
                            @{
                                if (ViewBag.DischargeCount == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.DischargeCount)
                            }
                            }
                            <p>
                                <em>Graduated</em><br />
                                @{
                                    if (ViewBag.Graduated == null)
                                    { <text>0</text> }
                                else
                                {
                                    @Html.Raw(ViewBag.Graduated) <text> (</text>@Html.Raw(ViewBag.GraduatedPercent) <text>%)</text>

                                }
                                }
                            </p>
                            <p>
                                <em>Self Discharge</em><br />
                                @{ if (ViewBag.SelfDischarge == null)
                                    { <text>0</text> }
                                else
                                {
                                    @Html.Raw(ViewBag.SelfDischarge)<text> (</text>@Html.Raw(ViewBag.SelfDischargePercent) <text>%)</text>
                                }

                                }
                            </p>
                            <p>
                                <em>Discharge for Cause</em><br />
                                @{ if (ViewBag.DischargeForCause == null)
                                    { <text>0</text> }
                                else
                                {
                                    @Html.Raw(ViewBag.DischargeForCause)<text> (</text>@Html.Raw(ViewBag.DischargeForCausePercent) <text>%)</text>
                                }

                                }
                            </p>
                            <p>
                                <em>Higher Level of Care</em><br />
                                @{ if (ViewBag.DischargeHigherLevelOfCare == null)
                                    { <text>0</text> }
                                else
                                {
                                    @Html.Raw(ViewBag.DischargeHigherLevelOfCare)<text> (</text> @Html.Raw(ViewBag.DischargeHigherLevelOfCarePercent) <text>%)</text>
                                }

                                }
                            </p>
                            <p>
                                <em>Emergency Discharge</em><br />
                                @{ if (ViewBag.EmergencyDischarge == null)
                                    { <text>0</text> }
                                else
                                {
                                    @Html.Raw(ViewBag.EmergencyDischarge)<text> (</text> @Html.Raw(ViewBag.EmergencyDischargePercent) <text>%)</text>
                                }

                                }
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vet Court
                        </td>
                        <td>
                            @{
                                if (ViewBag.VeteransCourt == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.VeteransCourt)
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            P2I
                        </td>
                        <td>
                            @{
                                if (ViewBag.P2I == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.P2I)
                            }
                            }
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">

                <h4>Military Service Statistics</h4>
                <div id="ServiceDischargeGroups">Getting demographic data...</div>
            </div>
            <div class="col-md-4">
                <h5 style="margin-top: 1.81em;">Branches</h5>
                <table class="table table-sm">
                    <tr>
                        <th>
                            Service Branch
                        </th>
                        <th>
                            Cumulative Residents
                        </th>
                        <th>
                            Current Residents
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Navy
                        </td>
                        <td>
                            @Html.Raw(ViewBag.NavyCount)
                        </td>
                        <td>
                            @{
                                if (ViewBag.CurrentNavy == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.CurrentNavy)
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Army
                        </td>
                        <td>
                            @Html.Raw(ViewBag.ArmyCount)
                        </td>
                        <td>
                            @{
                                if (ViewBag.CurrentArmy == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.CurrentArmy)
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Marines
                        </td>
                        <td>
                            @Html.Raw(ViewBag.MarineCount)
                        </td>
                        <td>
                            @{
                                if (ViewBag.CurrentMarine == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.CurrentMarine)
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Air Force
                        </td>
                        <td>
                            @Html.Raw(ViewBag.AirForceCount)
                        </td>
                        <td>
                            @{
                                if (ViewBag.CurrentAF == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.CurrentAF)
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Coast Guard
                        </td>
                        <td>
                            @Html.Raw(ViewBag.CoastGuardCount)
                        </td>
                        <td>
                            @{
                                if (ViewBag.CurrentCG == null)
                                { <text>0</text> }
                            else
                            {
                                @Html.Raw(ViewBag.CurrentCG)
                            }
                            }
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

        function printReport() {

            $("input[name='report']").val($("#reportHtml").html());
        }

        $(document).ready(function () {

            $.ajax({
                "url": "/CenterOverview/GetServiceDischargeCounts/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#ServiceDischargeGroups').html(data);
                }
            });

            $.ajax({
                "url": "/CenterOverview/AgeGroupBreakdown/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#AgeGroups').html(data);
                }
            });

            $.ajax({
                "url": "/CenterOverview/CumulativeAgeGroupBreakdown/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#AgeGroupsCumulative').html(data);
                }
            });

            $.ajax({
                "url": "/CenterOverview/GetAverageStay/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#AverageStay').html(data);
                }
            });

            $.ajax({
                "url": "/CenterOverview/GenderGroupBreakdown/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#GenderGroups').html(data);
                }
            });

            $.ajax({
                "url": "/CenterOverview/CumulativeGenderGroupBreakdown/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#GenderGroupsCumulative').html(data);
                }
            });

            $.ajax({
                "url": "/Reports/ResidentReferralsReport/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#Referrals').html(data);
                }
            });
        });

    </script>

}