@model FIVESTARVC.Models.Resident
@using PagedList.Mvc;
@using FIVESTARVC.Models;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Reports";
}

<h2>Center Summary</h2>
<hr />
<button class="btn btn-default" onclick="location.href='/Reports/Historic';"style="background-color: lightsteelblue"> Historic Chart </button> <button class="btn btn-default" onclick="location.href='/Reports/campaigns';" style="background-color: lightsteelblue"> Campaign Data Chart </button>


<br>
<br>
<h4>Cumulative Residents: @Html.Raw(ViewBag.CumulativeCount)</h4>
<h4>Current Residents: @Html.Raw(ViewBag.TotalCount)</h4>
<h4>Total Graduated: @Html.Raw(ViewBag.Graduated)</h4>
<br>
@Html.ActionLink("Download Data", "DownloadData")
<br>

<h3>Center Statistics</h3>
<table class="table">
    <tr>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Metric
        </th>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Cumulative Total
        </th>
    </tr>
    <tr>
        <td>
            Admitted
        </td>
        <td>
            @{
                if (ViewBag.Admitted == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.Admitted)
            }
            }
        </td>
    </tr>
    <tr>
        <td>

            Emergency Shelter
        </td>
        <td>
            @{
                if (ViewBag.EmergencyShelter == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.EmergencyShelter)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            Discharged
        </td>
        <td>
            @{
                if (ViewBag.DischargeCount == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.DischargeCount)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            Graduated
        </td>
        <td>
            @{
                if (ViewBag.Graduated == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.Graduated)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            Graduation Percent
        </td>
        <td>
            @{
                if (ViewBag.GraduatedPercent == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.GraduatedPercent)
            }
            }
            %
        </td>
    </tr>
    <tr>
        <td>
            Vet Court
        </td>
        <td>
            @{
                if (ViewBag.VeteransCourt == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.VeteransCourt)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            P2I
        </td>
        <td>
            @{
                if (ViewBag.P2I == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.P2I)
            }
            }
        </td>
    </tr>
    <tr>
        <td>Average Length of Stay</td>
        <td>
            @Html.Raw(ViewBag.AvgStay) Days
        </td>
    </tr>

</table>

<h3>Military Service Statistics</h3>
<table class="table">
    <tr>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Service Branch
        </th>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Cumulative Residents
        </th>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Current Residents
        </th>
    </tr>
    <tr>
        <td>
            Navy
        </td>
        <td>
            @Html.Raw(ViewBag.NavyCount)
        </td>
        <td>
            @{
                if (ViewBag.CurrentNavy == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.CurrentNavy)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            Army
        </td>
        <td>
            @Html.Raw(ViewBag.ArmyCount)
        </td>
        <td>
            @{
                if (ViewBag.CurrentArmy == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.CurrentArmy)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            Marines
        </td>
        <td>
            @Html.Raw(ViewBag.MarineCount)
        </td>
        <td>
            @{
                if (ViewBag.CurrentMarine == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.CurrentMarine)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            Air Force
        </td>
        <td>
            @Html.Raw(ViewBag.AirForceCount)
        </td>
        <td>
            @{
                if (ViewBag.CurrentAF == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.CurrentAF)
            }
            }
        </td>
    </tr>
    <tr>
        <td>
            Coast Guard
        </td>
        <td>
            @Html.Raw(ViewBag.CoastGuardCount)
        </td>
        <td>
            @{
                if (ViewBag.CurrentCG == null)
                { <text>0</text> }
            else
            {
                @Html.Raw(ViewBag.CurrentCG)
            }
            }
        </td>
    </tr>
</table>