@model FIVESTARVC.Models.Resident
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Reports";
}

<h2>Center Summary</h2>
<hr />
<button class="btn btn-default" onclick="location.href='/Reports/Historic';"> Monthly Breakdown </button>
<br>
<br>
<h4>Current Residents: @Html.Raw(ViewBag.TotalCount)</h4>
<h4>Total Graduated: @Html.Raw(ViewBag.Graduated)</h4>
<br>

<h3>Event Statistics</h3>
<table class="table">
    <tr>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Event Name
        </th>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Total Count
        </th>
        <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
            Current Count
        </th>
    </tr>
    <tr>
        <td>
            Work Program
        </td>
        <td>
            @Html.Raw(ViewBag.WorkProgram)
        </td>
    </tr>
    <tr>
        <td>
            Mental Wellness
        </td>
        <td>
            @Html.Raw(ViewBag.MentalWellness)
        </td>
    </tr>
    <tr>
        <td>
            P2I
        </td>
        <td>
            @Html.Raw(ViewBag.P2I)
        </td>
    </tr>
    <tr>
        <td>
            Emergency Shelter
        </td>
        <td>
            @Html.Raw(ViewBag.EmergencyShelter)
        </td>
    </tr>
    <tr>
        <td>
            School Program
        </td>
        <td>
            @Html.Raw(ViewBag.SchoolProgram)
        </td>
    </tr>
    <tr>
        <td>
            Vet Court
        </td>
        <td>
            @Html.Raw(ViewBag.VeteransCourt)
        </td>
    </tr>
    <tr>
        <td>
            Financial Program
        </td>
        <td>
            @Html.Raw(ViewBag.FinancialProgram)
        </td>
    </tr>
    <tr>
        <td>
            Depression/Behavioral Program
        </td>
        <td>
            @Html.Raw(ViewBag.DepressionBehavioralProgram)
        </td>
    </tr>
    <tr>
        <td>
            Substance Abuse Program
        </td>
        <td>
            @Html.Raw(ViewBag.SubstanceAbuseProgram)
        </td>
    </tr>
</table>

    <h3>Military Service Statistics</h3>
    <table class="table">
        <tr>
            <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                Service Branch
            </th>
            <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                Total Count
            </th>
            <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                Current Count
            </th>
        </tr>
        <tr>
            <td>
                Navy
            </td>
            <td>
                @Html.Raw(ViewBag.NavyCount)
            </td>
        </tr>
        <tr>
            <td>
                Army
            </td>
            <td>
                @Html.Raw(ViewBag.ArmyCount)
            </td>
        </tr>
        <tr>
            <td>
                Marines
            </td>
            <td>
                @Html.Raw(ViewBag.MarineCount)
            </td>
        </tr>
        <tr>
            <td>
                Air Force
            </td>
            <td>
                @Html.Raw(ViewBag.AirForceCount)
            </td>
        </tr>
        <tr>
            <td>
                Coast Guard
            </td>
            <td>
                @Html.Raw(ViewBag.CoastGuardCount)
            </td>
        </tr>
    </table>
