@model FIVESTARVC.Models.Resident
@using PagedList.Mvc;
@using FIVESTARVC.Models;


@{
    ViewBag.Title = "Reports";
}

@*Required for the Bootstrap dropdown.*@
<script type="text/javascript" src="~/Scripts/umd/popper.js"></script>

<h2>Center Summary</h2>
<div>
    <p>
        <strong>Cumulative Residents: </strong> @ViewBag.CumulativeCount,
        <strong>Current Residents: </strong> @ViewBag.TotalCount,
        <strong>Total Graduated: </strong> @ViewBag.Graduated
    </p>

</div>
<hr />
<div class="btn-group d-print-none">
    <button class="btn btn-secondary" style="margin-right: 10px;" onclick="location.href = '/Reports/DownloadData';">
        <i class="fa fa-arrow-down fa-fw"></i> Download Data
    </button>
    
    <button class="btn btn-secondary" style="margin-right: 10px;" onclick="printReport()"><i class="fa fa-print fa-fw"></i> Print Report</button> 
        
    <div class="dropdown">
        <br>
        <button style="margin-right: 10px;" class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-gears fa-fw"></i> Historic Charts
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" onclick="gradChart()"><i class="fa fa-plus fa-fw"></i> Graduation Rates</button></li>
            <li><button class="dropdown-item" onclick="admitChart()"><i class="fa fa-plus fa-fw"></i> Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="readmitChart()"><i class="fa fa-plus fa-fw"></i> Re-Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="p2iChart()"><i class="fa fa-plus fa-fw"></i> P2I Rates</button></li>
            <li><button class="dropdown-item" onclick="emergChart()"><i class="fa fa-plus fa-fw"></i> Emergency Shelter Rates</button></li>
            <li><button class="dropdown-item" onclick="disChart()"><i class="fa fa-plus fa-fw"></i> Discharge Rates</button></li>
            <li><button class="dropdown-item" onclick="vetChart()"><i class="fa fa-plus fa-fw"></i> Vet-Court Rates</button></li>

        </ul>
    </div>

    <div class="dropdown">
        <button style="margin-right: 10px;" class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-gears fa-fw"></i> Cumulative Historic Charts
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" onclick="gradChartCum()"><i class="fa fa-plus fa-fw"></i> Cumulative Graduation Rates</button></li>
            <li><button class="dropdown-item" onclick="admitChartCum()"><i class="fa fa-plus fa-fw"></i> Cumulative Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="readmitChartCum()"><i class="fa fa-plus fa-fw"></i> Cumulative Re-Admission Rates</button></li>
            <li><button class="dropdown-item" onclick="p2iChartCum()"><i class="fa fa-plus fa-fw"></i> Cumulative P2I Rates</button></li>
            <li><button class="dropdown-item" onclick="emergChartCum()"><i class="fa fa-plus fa-fw"></i> Cumulative Emergency Shelter Rates</button></li>
            <li><button class="dropdown-item" onclick="disChartCum()"><i class="fa fa-plus fa-fw"></i> Cumulative Discharge Rates</button></li>
            <li><button class="dropdown-item" onclick="vetChartCum()"><i class="fa fa-plus fa-fw"></i> Cumulative Vet-Court Rates</button></li>
        </ul>
    </div>

</div>





<hr class="d-print-none" />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="GenderGroups">

            </div>
            <div id="AgeGroups">

            </div>
            <div id="AverageStay">

            </div>
        </div>



        <div class="col-md-4">

            <h4>Center Performance</h4>


            <table class="table table-sm">
                <tr>
                    <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                        Metric
                    </th>
                    <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                        Cumulative Total
                    </th>
                </tr>
                <tr>
                    <td>
                        Admitted
                    </td>
                    <td>
                        @{
                            if (ViewBag.Admitted == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.Admitted)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>

                        Emergency Shelter
                    </td>
                    <td>
                        @{
                            if (ViewBag.EmergencyShelter == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.EmergencyShelter)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Discharged
                    </td>
                    <td>
                        @{
                            if (ViewBag.DischargeCount == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.DischargeCount)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Graduated
                    </td>
                    <td>
                        @{
                            if (ViewBag.Graduated == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.Graduated)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Graduation Percent
                    </td>
                    <td>
                        @{
                            if (ViewBag.GraduatedPercent == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.GraduatedPercent)
                        }
                        }
                        %
                    </td>
                </tr>
                <tr>
                    <td>
                        Vet Court
                    </td>
                    <td>
                        @{
                            if (ViewBag.VeteransCourt == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.VeteransCourt)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        P2I
                    </td>
                    <td>
                        @{
                            if (ViewBag.P2I == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.P2I)
                        }
                        }
                    </td>
                </tr>


            </table>
        </div>
        <div class="col-md-5">
            <h4>Military Service Statistics</h4>
            <table class="table table-sm">
                <tr>
                    <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                        Service Branch
                    </th>
                    <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                        Cumulative Residents
                    </th>
                    <th style="font-weight: bold; color:dodgerblue; font-size: 110%">
                        Current Residents
                    </th>
                </tr>
                <tr>
                    <td>
                        Navy
                    </td>
                    <td>
                        @Html.Raw(ViewBag.NavyCount)
                    </td>
                    <td>
                        @{
                            if (ViewBag.CurrentNavy == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.CurrentNavy)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Army
                    </td>
                    <td>
                        @Html.Raw(ViewBag.ArmyCount)
                    </td>
                    <td>
                        @{
                            if (ViewBag.CurrentArmy == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.CurrentArmy)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Marines
                    </td>
                    <td>
                        @Html.Raw(ViewBag.MarineCount)
                    </td>
                    <td>
                        @{
                            if (ViewBag.CurrentMarine == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.CurrentMarine)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Air Force
                    </td>
                    <td>
                        @Html.Raw(ViewBag.AirForceCount)
                    </td>
                    <td>
                        @{
                            if (ViewBag.CurrentAF == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.CurrentAF)
                        }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        Coast Guard
                    </td>
                    <td>
                        @Html.Raw(ViewBag.CoastGuardCount)
                    </td>
                    <td>
                        @{
                            if (ViewBag.CurrentCG == null)
                            { <text>0</text> }
                        else
                        {
                            @Html.Raw(ViewBag.CurrentCG)
                        }
                        }
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

        function printReport() {un
            window.print();
        }

        $(document).ready(function () {

            $.ajax({
                "url": "/CenterOverview/AgeGroupBreakdown/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#AgeGroups').html(data);
                }
            });

            $.ajax({
                "url": "/CenterOverview/GetAverageStay/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#AverageStay').html(data);
                }
            });

            $.ajax({
                "url": "/CenterOverview/GenderGroupBreakdown/",
                "type": "get",
                "dataType": "html",
                "success": function (data) {
                    $('#GenderGroups').html(data);
                }
            });
        });

        function gradChart() {

            $.get('/Reports/gradRates/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function admitChart() {

            $.get('/Reports/admittedRates/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function readmitChart() {

            $.get('/Reports/readmittedRates/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function p2iChart() {

            $.get('/Reports/p2iRates/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function emergChart() {

            $.get('/Reports/emergRates/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function disChart() {

            $.get('/Reports/dischargeRates/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function vetChart() {

            $.get('/Reports/vetCourtRates/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function gradChartCum() {

            $.get('/Reports/gradRatesCum/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function admitChartCum() {

            $.get('/Reports/admittedRatesCum/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function readmitChartCum() {

            $.get('/Reports/readmittedRatesCum/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function p2iChartCum() {

            $.get('/Reports/p2iRatesCum/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function emergChartCum() {

            $.get('/Reports/emergRatesCum/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function disChartCum() {

            $.get('/Reports/dischargeRatesCum/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

        function vetChartCum() {

            $.get('/Reports/vetCourtRatesCum/', function (data) {
                $('.modal-content').html(data);
                $('#AddModal').modal('show');

            });
        }

    </script>

}