@model FIVESTARVC.Models.Resident
@using FIVESTARVC.Models;

@{
    Layout = null;
}


@using (Html.BeginForm("Delete", "Residents"))
{
    @Html.AntiForgeryToken()

    <h4>Mark to Delete @Model.Fullname</h4>
    <p> Are you sure you want to mark this resident for deletion from your center?</p>
    <br />
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model => model.ResidentID)

    <div class="container">
        <div class="row">

            <div class="table-responsive">
                <table class="table table-sm">

                    <tbody>
                        <tr>
                            <td class="col-form-label">

                                @Html.Label("Full name", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @(Model.Fullname)
                            </td>

                        </tr>

                        <tr>
                            <td class="col-form-label">@Html.LabelFor(model => model.ClearBirthdate, htmlAttributes: new { @class = "control-label" })</td>
                            <td>
                                @(Model.ClearBirthdate?.ToShortDateString())
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label"> @Html.LabelFor(model => model.ServiceBranch, htmlAttributes: new { @class = "control-label" })</td>
                            <td>
                                @{
                                    var serviceDescription = FSEnumHelper.GetDescription(Model.ServiceBranch);


                                    @Html.DisplayFor(modelItem => serviceDescription)
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Mark Deleted</button>
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        if (!Modernizr.inputtypes.date) {
            $('input[type=date]')
                .attr('type', 'text')
                .datepicker({
                    // Consistent format with the HTML5 picker
                    dateFormat: 'mm-dd-yy'
                });
        }

        $(function () {
            $('#submit-btn').click(function () {
                $('#modal-container').modal('hide');
            });
        });
    </script>

}
