@model FIVESTARVC.Models.Resident
@using FIVESTARVC.Models

@{
    ViewBag.Title = "Details";
}


<h2>Details for @(Model.LastName)</h2>

<div>
    <div class="row">
        <div class="col-sm-5 table-responsive">
            <table class="table">
                <tr class="form-row">
                    <td class="col-form-label">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </td>
                    <td class="col-form-label">
                        @Html.DisplayFor(model => model.LastName)
                    </td>

                    <td class="col-form-label">
                        @Html.LabelFor(model => model.FirstMidName, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </td>
                    <td class="col-form-label">
                        @Html.DisplayFor(model => model.FirstMidName)

                    </td>

                </tr>
                <tr class="form-row">
                    <td class="col-form-label">
                        @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </td>
                    <td class="col-form-label">
                        @{
                            if (Model.Birthdate == null)
                            {
                                <text>No birthdate provided.</text>
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Birthdate)

                            }
                        }
                    </td>
                    <td class="col-form-label">
                        @Html.Label("Age", htmlAttributes: new { @class = "control-label font-weight-bold"})
                    </td>
                    <td class="col-form-label">
                        
                        @if((Model.Age) != 0)
                        {
                            @(Model.Age)
                        } else
                        {
                            <text>Not available.</text>
                        }
                    </td>
                </tr>
                <tr class="form-row">
                    <td class="col-form-label">
                        @Html.Label("First Admitted", htmlAttributes: new { @class = "control-label font-weight-bold" })
                    </td>
                    <td class="col-form-label">
                        @(ViewBag.DateFirstAdmitted)
                    </td>

                </tr>


            </table>
        </div>
        
        <div class="col-sm-7 table-responsive">
            <table class="table">
                <tr class="form-row">
                    <td>
                        @Html.Label("Campaigns", htmlAttributes: new { @class = "control-label col-md-0 font-weight-bold" })

                    </td>
                    <td>
                        @{
                            bool campaignsExist = false;
                            List<FIVESTARVC.ViewModels.AssignedCampaignData> campaigns = ViewBag.Campaigns;


                            foreach (var campaign in campaigns)
                            {


                                if (campaign.Assigned)
                                {
                                    campaignsExist = true;
                                    @campaign.MilitaryCampaign@:<br/>
                                }

                            }

                            if (!campaignsExist)
                            {
                                <text>No campaigns. </text>
                            }

                        }
                    </td>
                </tr>
                <tr class="form-row">
                    <td>@Html.LabelFor(model => model.HasPTSD, htmlAttributes: new { @class = "control-label col-md-0 font-weight-bold" })</td>
                    <td>@(Model.HasPTSD ? "Yes" : "No")</td>
                </tr>
                <tr class="form-row">
                    <td>@Html.LabelFor(model => model.InVetCourt, htmlAttributes: new { @class = "control-label col-md-0 font-weight-bold" })</td>
                    <td>@(Model.InVetCourt ? "Yes" : "No")</td>
                </tr>
                


            </table>


        </div>
    </div>

</div>


<h2>Events</h2>
<dl>
    <dd>
        <table class="table">
            <tr>
                <th>Program Name</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            @foreach (var item in Model.ProgramEvents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramType.ProgramDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                </tr>
            }
        </table>
    </dd>

</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResidentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
