@model FIVESTARVC.Models.Resident
@using FIVESTARVC.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceBranch)
        </dt>

        <dd>
            @{ 
                var serviceBranch = FSEnumHelper.GetDescription(Model.ServiceBranch);

                @Html.DisplayFor(model => serviceBranch)
            }
           
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Room.RoomNum)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Room.RoomNum)*@
        </dd>
        </dl>
        <div class="form-group">
            <b>@Html.Label("Campaigns", htmlAttributes: new { @class = "control-label col-md-0" })</b>
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<FIVESTARVC.ViewModels.AssignedCampaignData> campaigns = ViewBag.Campaigns;

                            foreach (var campaign in campaigns)
                            {
                                if (cnt++ % 4 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedCampaigns"
                                           disabled
                                           value="@campaign.MilitaryCampaignID"
                                           @(Html.Raw(campaign.Assigned ? "checked=\"checked\"" : "")) />
                                        @:  @campaign.MilitaryCampaign
                                        @:</td>&nbsp;
                            }
                            @:</tr>
                        }
                    </table>
                </div>
            </div>
    </div>
    <dt>
    @Html.DisplayName("Resident has PTSD?")
    </dt>
    <dd>
        @if (Model.HasPTSD == true)
        {
            @:Yes

        }
        else
        {
            @:No
            }
    </dd>

    <br />    
     
    
    <dl>
        <dd>
            <table class="table">
                <tr>
                    <th>Program Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                @foreach (var item in Model.ProgramEvents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgramType.ProgramDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResidentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
