@model FIVESTARVC.Models.Resident
@using FIVESTARVC.Models;

@{
    ViewBag.Title = "Edit Resident";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Discharge @(Model.LastName)</h4>
        <p> Are you sure you want to discharge this resident from your center?</p>
       <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ResidentID)

       <div class="row">

           <div class="col-sm-5 table-responsive">
               <table class="table table-sm">

                   <tbody>
                       <tr>

                           <td class="col-form-label">

                               @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-offset-3" })
                           </td>
                           <td class="col-auto">
                               @(Model.LastName)
                           </td>

                       </tr>
                       <tr>
                           <td class="col-form-label">@Html.LabelFor(model => model.FirstMidName, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                           <td class="col-auto">
                               @(Model.FirstMidName)
                           </td>
                       </tr>
                       <tr>
                           <td class="col-form-label">@Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                           <td class="col-auto">
                               @(Model.Birthdate)
                           </td>
                       </tr>
                       <tr>
                           <td class="col-form-label"> @Html.LabelFor(model => model.ServiceBranch, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                           <td class="col-auto">
                               @{
                                var serviceDescription = FSEnumHelper.GetDescription(Model.ServiceBranch);


                                @Html.DisplayFor(modelItem => serviceDescription)
                               }
                           </td>
                       </tr>
                       <tr>
                           <td class="col-form-label"> @Html.LabelFor(model => model.RoomID, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                           <td class="col-auto">
                               @*@Html.DropDownList("rooms", "Select Room")*@
                               @(Model.RoomID)
                           </td>
                       </tr>
                       <tr>

                           <td class="col-form-label">@Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-offset-3" }) </td>
                           <td class="col-auto">
                               @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "form-control" })
                               @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                           </td>
                       </tr>

                   </tbody>
               </table>
           </div>

           <div class="form-group col-sm-3">
               @Html.Label("Discharge Reason", htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                   @Html.DropDownList("ProgramTypeID", null, htmlAttributes: new { @class = "form-control" })
                   @Html.ValidationMessageFor(model => model.ProgramEvents, "", new { @class = "text-danger" })
               </div>
           </div>

       </div>




        <div class="form-group form-inline">
            <div class="col-md-offset-1 col-md-2">
                <input type="submit" value="Discharge" class="btn btn-danger" />
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
