@model FIVESTARVC.Models.Resident

@{
    ViewBag.Title = "Edit Resident";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ResidentID)

        <div class="row">

            <div class="col-sm-5 table-responsive">
                <h2>Update @(Model.LastName)</h2>
                <table class="table table-sm">

                    <tbody>
                        <tr>

                            <td class="col-form-label">
                                @Html.ValidationSummary(true, "")

                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-offset-3" })
                            </td>
                            <td class="col-auto">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "")
                            </td>

                        </tr>
                        <tr>
                            <td class="col-form-label">@Html.LabelFor(model => model.FirstMidName, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                            <td class="col-auto">
                                @Html.EditorFor(model => model.FirstMidName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstMidName, "")
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label">@Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                            <td class="col-auto">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-calendar fa-fw" style="width:40px;"></span>
                                    </div>
                                    @Html.EditorFor(model => model.Birthdate,
                                 new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Birthdate, "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label"> @Html.LabelFor(model => model.ServiceBranch, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                            <td class="col-auto">
                                @Html.EnumDropDownListFor(model => model.ServiceBranch, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ServiceBranch, "")
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label"> @Html.LabelFor(model => model.RoomID, htmlAttributes: new { @class = "control-label col-md-offset-3" })</td>
                            <td class="col-auto">
                                @ViewBag.room
                            </td>
                            @ViewBag.AlertMessage
                        </tr>
                        <tr>
                            @{
                                <td>
                                    <label for="EditRoom">Move Resident To:</label>
                                </td>
                                <td>
                                    <input type="text" name="moveTo" />
                                </td>

                            }

                        </tr>

                        <tr>
                            <td class="col-form-label">@Html.Label("in Veteran's Court?", htmlAttributes: new { @class = "control-label col-sm-offset-10" })</td>
                            <td class="col-auto">
                                @Html.EditorFor(model => model.InVetCourt)
                                @Html.ValidationMessageFor(model => model.InVetCourt, "")
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label">
                                @Html.Label("Campaigns", htmlAttributes: new { @class = "control-label col-md-offset-3" })
                            </td>
                            <td>
                                <div class="form-check" style="overflow-y: scroll">
                                    @{
                            List<FIVESTARVC.ViewModels.AssignedCampaignData> campaigns = ViewBag.Campaigns;

                            foreach (var campaign in campaigns)
                            {

                                @:


                                <input type="checkbox"
                                       class="form-check-input"
                                       name="selectedCampaigns"
                                       value="@campaign.MilitaryCampaignID"
                                       @(Html.Raw(campaign.Assigned ? "checked=\"checked\"" : "")) />
                                @campaign.MilitaryCampaign @: <br />
                }

                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-form-label">@Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-offset-3" }) </td>
                            <td class="col-auto">
                                @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Note, "")
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            @Html.Partial("BenefitPartialViewEdit")

        </div>




        <div class="form-group form-inline">
            <div class="col-md-offset-1 col-md-2">
                <input type="submit" value="Update" class="btn btn-dark" />
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jqueryui");
    <script type="text/javascript">

        if (!Modernizr.inputtypes.date) {
            $('input[type=date]')
                .attr('type', 'text')
                .datepicker({
                    // Consistent format with the HTML5 picker
                    dateFormat: 'mm-dd-yy'
                });
        }

        $('.income').on("keyup", function () {
            var total = parseFloat(0.0);

            $('.income').each(function () {
                total += parseFloat($(this).val() || 0);
            });

            $('#Benefit_TotalBenefitAmount').val(total);
        });
        $('.moveTo').on("onload", function () {
            if (!ViewBag.AlertMessage == null) {
                document.getElementById('moveTo') = ViewBag.AlertMessage;
            }
        });


    </script>
}
