@model PagedList.IPagedList<FIVESTARVC.Models.Resident>
@using PagedList.Mvc;
@using FIVESTARVC.Models;



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Residents";
}

<h2>Residents Listing</h2>

<p style="padding-top: 1em;">
    <input type="button" class="btn btn-success" value="Create New" onclick="location.href='/Residents/Create';" />
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@using (Html.BeginForm("Index", "Residents", FormMethod.Get))
{
    <p>
        Find by name: <div class="form-group">
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
            <input class="btn btn-outline-secondary" type="submit" value="Search" />
        </div>
    </p>
}<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("Service Branch", "Index", new { sortOrder = ViewBag.BranchSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Room Number
        </th>
        <th>
            Current?
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @{
                    var serviceDescription = FSEnumHelper.GetDescription(item.ServiceBranch);


                    @Html.DisplayFor(modelItem => serviceDescription)
                }

            </td>
            <td>
                @* Room number goes here *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentResident)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ResidentID }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary btn-light" }) &nbsp;

                @*Trigger the modal with a button*@


                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-resident-name="@item.FirstMidName @item.LastName" data-target="#newEventModal">
                    Quick Event
                </button>
                @Html.ActionLink("Details", "Details", new { id = item.ResidentID }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary btn-light" }) &nbsp;
                @Html.ActionLink("Delete", "Delete", new { id = item.ResidentID }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>




    }

</table>
<!-- Modal -->
<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newEventModal">New Event for</h5> &nbsp;<h5 class="modal-title" name="residentName"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_modalNewEvent", new ProgramEvent())
            </div>

        </div>
    </div>
</div>
<br />
             Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                                                                 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



            @section scripts {

                <script type="text/javascript">
                    $('#newEventModal').on('show.bs.modal', function (e) {
                        var residentName = $(e.relatedTarget).data('resident-name');
                        $(e.currentTarget).find('h5[name="residentName"]').text(residentName);
                    });

                </script>
            }
