@model PagedList.IPagedList<FIVESTARVC.Models.Resident>
@using PagedList.Mvc;
@using FIVESTARVC.Models;



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>
@{
    ViewBag.Title = "Residents";
}

@if (TempData["UserMessage"] != null)
{
    var message = TempData["UserMessage"];
    <div class="alert alert-dark alert-dismissable" style="position: absolute; right: 80px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"> &times;</a>
        @message &nbsp;
    </div>
}

<h2>Residents Listing</h2>
<hr />
<li class="btn-block">
    <input type="button" class="btn btn-success" value="New Resident" onclick="location.href='/Residents/Create';" />
    &nbsp;
    <input type="button" class="btn btn-secondary" value="Add Campaign" onclick="addCampaign()" />
    &nbsp;
    <input type="button" class="btn btn-secondary" value="New Room" onclick="newRoom()" />

</li>
<br />
@using (Html.BeginForm("Index", "Residents", FormMethod.Get))
{
    <div class="form-inline">
        
            Find by name:&nbsp;
        
         @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
        &nbsp;<input class="btn btn-sm btn-outline-secondary" type="submit" value="Refine" />
    </div>
 
}
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("Service Branch", "Index", new { sortOrder = ViewBag.BranchSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Room Number
        </th>
        <th>
            Current?
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @{
                    var serviceDescription = FSEnumHelper.GetDescription(item.ServiceBranch);


                    @Html.DisplayFor(modelItem => serviceDescription)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @{
                    if (item.IsCurrent())
                    {
                        @Html.Raw("Yes")
                    }
                    else
                    {
                        @Html.Raw("No")
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ResidentID }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary btn-light" }) &nbsp;

                @*Trigger the modal with a button*@
                <input type="button" value="Quick Event" class="modal-link btn btn-sm btn-outline-secondary btn-light"
                       data-toggle="modal" data-target="#QuickEventModal" onclick="showQuickEventDialog(@item.ResidentID)" />

                @Html.ActionLink("Details", "Details", new { id = item.ResidentID }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary btn-light" }) &nbsp;

                @if (item.IsCurrent())
                {

                    @:<input type="button" value="Discharge" class="modal-link btn btn-sm btn-danger"
                              @: data-toggle="modal" data-target="#QuickEventModal" onclick="showDischargeDialog(@item.ResidentID)" />




                }
            </td>
        </tr>

    }

</table>

<div id="QuickEventModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="AddCampaignModal" tabindex="-1" role="dialog" aria-labelledby="AddCampaignModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<br />

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval");

            <script type="text/javascript">

                $('#AddCampaignModal').on('shown.bs.modal', function () {
                    jQuery.validator.unobtrusive.parse($(this));
                })

                window.setTimeout(function () {
                    $(".alert").fadeTo(500, 0).slideUp(500, function () {
                        $(this).remove();
                    });
                }, 4000);

                function showQuickEventDialog(resident) {

                    $.get('/Residents/ViewQuickEvent/' + resident, function (data) {
                        $('.modal-body').html(data);
                        $('.modal-title').html("Quick Event");
                        $('#QuickEventModal').modal('show');
                    });

                }

                function addCampaign() {

                    $.get('/Residents/AddCampaign/', function (data) {
                        $('.modal-content').html(data);
                        $('#AddCampaignModal').modal('show');

                    });
                }

                function showDischargeDialog(resident) {

                    $.get('/Residents/Discharge/' + resident, function (data) {
                        $('.modal-body').html(data);
                        $('.modal-title').html("Discharge from Center");
                        $('#QuickEventModal').modal('show');
                    });
                }


                function newRoom() {

                    $.get('/Residents/AddRoom/', function (data) {
                        $('.modal-body').html(data);
                        $('.modal-title').html("Add New Room");
                        $('#QuickEventModal').modal('show');
                    });
                }


            </script>

        }
