@model FIVESTARVC.Models.ProgramEvent

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Program Event</h4>
        <hr />
        @Html.ValidationSummary(true, "")
        <div class="form-group">
            @Html.LabelFor(model => model.ResidentID, "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ResidentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResidentID, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgramTypeID, "Program Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProgramTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProgramTypeID, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClearStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-calendar fa-fw" style="width:40px;"></span>
                    </div>
                    <input type="text" id="StartDate" name="StartDate" class="form-control" style="width: auto;" />
                    @Html.ValidationMessageFor(model => model.ClearStartDate, "")
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClearEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-calendar fa-fw" style="width:40px;"></span>
                    </div>
                    <input type="text" id="EndDate" name="EndDate" class="form-control" style="width: auto;" />
                    @Html.ValidationMessageFor(model => model.ClearEndDate, "")
                </div>
            </div>
        </div>
  </div>
  
  <div class="row">
      <div class="container">
        <div class="form-group">
            @Html.LabelFor(model => model.Completed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Completed)
                    @Html.ValidationMessageFor(model => model.Completed, "")
                </div>
            </div>
        </div>

        <br />
        <div class="form-group form-inline">
            <div class="col-md-10">
                <input type="submit" value="Add" class="btn btn-dark" />
                <span class="col-md-offset-4">@Html.ActionLink("Back to List", "Index") </span>
                

            </div>
        </div>
    </div>
      </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jqueryui");

    <script type="text/javascript">

        $(document).ready(function () {
            $('#StartDate').datepicker({ dateFormat: 'mm/dd/yy' });
            $('#EndDate').datepicker({ dateFormat: 'mm/dd/yy' });
        });

    </script>
}
