@model FIVESTARVC.Models.ProgramEvent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Programs and Events</h4><br />
        <h6>Change this event for the resident, and click Update to make the change. </h6>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.ProgramEventID)

        <div class="form-group">
            @Html.LabelFor(model => model.ResidentID, "Resident", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <strong>@String.Concat(Model.Resident.FirstMidName, " ", Model.Resident.ClearLastName)</strong>
                @Html.HiddenFor(model => model.ResidentID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgramTypeID, "Program Event", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProgramTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProgramTypeID, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClearStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClearStartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClearStartDate, "")
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.Completed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Completed)
                    @Html.ValidationMessageFor(model => model.Completed, "")
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        if (!Modernizr.inputtypes.date) {
            $('input[type=date]')
                .attr('type', 'text')
                .datepicker({
                    // Consistent format with the HTML5 picker
                    dateFormat: 'mm/dd/yy'
                });
        }
    </script>
}
