@model PagedList.IPagedList<FIVESTARVC.Models.Resident>
@using PagedList.Mvc;
@using FIVESTARVC.Models;

@{
    ViewBag.Title = "Event Log";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Resident Track Log</h2>
<br />
@*<div class="btn-group" style="margin-bottom: 0.5em;">
        <input type="button" class="btn btn-success" value="Enroll Program" onclick="location.href='/ProgramEvents/Create';" />
    </div>*@
<br />
@using (Html.BeginForm("Index", "ProgramEvents", FormMethod.Get))
{
    <div class="form-inline">

        Find by name:&nbsp;

        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
        &nbsp;<input class="btn btn-sm btn-outline-secondary" type="submit" value="Search" />
    </div>
}
<br />


@foreach (var group in Model.GroupBy(item => item.Fullname))
{
    <h4>@Html.Encode(group.Key)</h4>
    <table class="table table-sm table-bordered table-striped">
        <tr>
            <th style="width: 17.7em">
                Description
            </th>
            @*<th>
                    @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>*@
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>

            <th>
                Completed?
            </th>
            <th></th>
        </tr>


        @foreach (var item in group)
        {


            foreach (var track in item.ProgramEvents)
            {
                <tr>
                    @if (track.ProgramType != null && track.ProgramType.EventType != EnumEventType.SYSTEM)
                    {
                        <td>

                            @(track.ProgramType.ProgramDescription)
                        </td>
                        <td>
                            @(track.GetShortStartDate())
                        </td>
                        <td>
                            @(track.GetShortEndDate())
                        </td>
                        <td>
                            @(track.Completed ? "Yes" : "No")
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = track.ProgramEventID }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary btn-light" }) &nbsp;
                            @Html.ActionLink("Details", "Details", new { id = track.ProgramEventID }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary btn-light" }) &nbsp;
                            @Html.ActionLink("Delete", "Delete", new { id = track.ProgramEventID }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
                        </td>
                    }
                </tr>

            }


        }
    </table>
}

<br />
<div style="position: relative; bottom: 1em;">
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </p>
</div>
