@model IEnumerable<FIVEstarVC.Models.Resident>

@{
    ViewBag.Title = "Resident Manager";
}


    <h2>Manage Residents</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResidentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResidentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResidentID })
        </td>
    </tr>
}

</table>
