@model FIVEstarVC.Models.Report

@{
    ViewBag.Title = "Group Reports";
}

<h2>Demographic Report</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report Form</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Report on current residents? @Html.CheckBoxFor(x => x.currentResident)</p>
        <p>Campaign served in: @Html.TextBoxFor(x => x.campaign)</p>
        <p>Days in residence: @Html.TextBoxFor(x => x.residenceDays)</p>
        <p>
            Branch of Service
            @Html.DropDownListFor(x => x.serviceBranch, new[] {
                new SelectListItem() {Text = "Air Force", Value = "airForce" },
                new SelectListItem() {Text = "Army", Value = "army" },
                new SelectListItem() {Text = "Navy", Value = "navy" },
                new SelectListItem() {Text = "Marines", Value = "marines" },
                new SelectListItem() {Text = "Coast Guard", Value = "coastGuard" } },
                "Choose an option")
        </p>
        <p>
            Discharge
            @Html.DropDownListFor(x => x.serviceBranch, new[] {
                new SelectListItem() {Text = "General/Honorable", Value = "genHon" },
                new SelectListItem() {Text = "Disability", Value = "dis" },
                new SelectListItem() {Text = "Other", Value = "other" } },
                "Choose an option")
        </p>
        <p>Residents with the first name: @Html.TextBoxFor(x => x.firstName)</p>
        <p>Resident with the last name: @Html.TextBoxFor(x => x.lastName)</p>

        <input type="submit" value="Generate Report" />
    }
    <br>
    <textarea readonly rows="10" cols="100">
    *Output displayed here*
    </textarea>
</body>
</html>