<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="fivestarApp" ng-controller="LandingPageController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><button class="btn navbar-btn" type="button"onclick="window.location.href='@Url.Action("Index")'">Home</button><span class="caret"></span></li>
                    <li><button class="btn navbar-btn" type="button" onclick="window.location.href='@Url.Action("Resident")'">Resident</button><span class="caret"></span></li>
                    <li class="dropdown">
                        <button class="btn navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
                            Resident Reports
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Single User Report", "Reports", "Home")</li>
                            <li>@Html.ActionLink("Demographic Report", "GroupReports", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div>

            <h1>Welcome to {{models.appname}} Resident Tracking System</h1>
        </div>
        @RenderBody()
        <br />
  
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FIVE STAR </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/fivestarApp")
    @RenderSection("scripts", required: false)
</body>
</html>
