<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="col-md-3">
        <img src="~/Content/fivestar_logo.JPG" />
        <h1>

            @if (User.Identity.IsAuthenticated)
            {
                <text>Welcome to FIVE STAR Resident Management System, </text>
                @User.Identity.Name
            }
        </h1>
    </div>
    
    <div class="navbar navbar-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><input type="button" class="btn btn-info" value="Home"
                               title="Dashboard" onclick="location.href='@Url.Action("Index", "Home")'" /></li>       
                    <li><input type="button" class="btn btn-default" value="Residents" 
                               title="Manage Residents" onclick="location.href='@Url.Action("Index", "Residents")'" /></li>
                    <li><input type="button" class="btn btn-default" 
                               title="Center Report" value="Reports" onclick="location.href='@Url.Action("Index", "Report")'" /></li>
                    @Html.Partial("_LoginPartial")


                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()

        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)
</body>
</html>
