@model IEnumerable<FIVESTARVC.Models.RoomLog>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Occupancy log for @Html.DisplayNameFor(model => model.Room.RoomNumber) @ViewBag.room</h4>
    <hr />

    @*Disabled.  This field is for database purposes only.  It is used to assign and release rooms*@

    @*<dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>*@
    <div class="container">
        @foreach (var group in Model.GroupBy(i => i.Resident.Fullname))
        {
            <div class="row">

                <div class="col-sm-8">
                    <table class="table table-bordered table-sm table-striped">
                        <thead>
                            <tr>
                                <td style="width: 12em; background-color: antiquewhite">
                                    <br /><h6><a href="/Residents/Details/@group.Select(i => i.ResidentID).First()">@Html.Encode(group.Key)</a></h6>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Room.WingName)</td>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Room.DaysOccupied)</td>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Comment)</td>
                                <td class="font-weight-bold">Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.Room.WingName)</td>

                                    
                                    <td>@Html.DisplayFor(model => item.Room.DaysOccupied)</td>
                                    <td>@Html.DisplayFor(model => item.Comment)</td>
                                    <td>@item.Event.GetShortStartDate()</td>

                                </tr>
                            }
                            
                        </tbody>
                        
                    </table>
                </div>

            </div>
        }
        
    </div>
</div>
<br />
<p style="position: relative; bottom: 1em;">
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })

</p>
