@model IEnumerable<FIVESTARVC.Models.RoomLog>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Occupancy log for @Html.DisplayNameFor(model => model.Room.RoomNumber) @ViewBag.room</h4>
    <hr />

    @*Disabled.  This field is for database purposes only.  It is used to assign and release rooms*@

    @*<dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>*@
    <div class="container">
        @foreach (var group in Model.GroupBy(i => i.Resident.Fullname))
        {
            <br />
            <div class="row">

                <div class="col-sm-8">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr style="background-color: antiquewhite;">
                                <td style="width: 12em; ">
                                    <h5><a href="/Residents/Details/@group.Select(i => i.ResidentID).First()">@Html.Encode(group.Key)</a></h5>
                                </td>
                                @if (group.Select(i => i.Resident.IsCurrent()).First())
                                {
                                    <td>
                                        <b>Computed Days In Center (as of @DateTime.Now.ToShortDateString())</b>
                                        <br />@group.Select(i => i.Resident.DaysInCenter).First()
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.Resident.ActualDaysStayed)</b>
                                    <br />
                                        @group.Select(i => i.Resident.ActualDaysStayed).First().GetValueOrDefault(0)
                                </td>
                            }

                            </tr>
                            <tr>
                                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.Comment)</td>
                                <td class="font-weight-bold">Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.Comment)</td>

                                    @if (item.Event.ProgramType.EventType == FIVESTARVC.Models.EnumEventType.SYSTEM)
                                    {
                                        <td>@item.Event.GetShortEndDate()</td>
                                    }
                                    else
                                    {
                                        <td>@item.Event.GetShortStartDate()</td>
                                    }

                                </tr>
                            }

                        </tbody>

                    </table>
                </div>

            </div>
        }

    </div>
</div>
<br />
<p style="position: relative; bottom: 1em;">
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })

</p>
