@model FIVESTARVC.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        @*Disabled.  This field is for database purposes only.  It is used to assign and release rooms*@

        @*<dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.WingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
