@model FIVESTARVC.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.RoomNumber) @Html.DisplayFor(model => model.RoomNumber)</h4>
    <hr />

    @*Disabled.  This field is for database purposes only.  It is used to assign and release rooms*@

    @*<dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>*@
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="box-shadow: 0 0 30px black;">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <td class="font-weight-bold">@Html.DisplayNameFor(model => model.WingName)</td>
                            <td class="font-weight-bold">Occupant Name</td>
                            <td class="font-weight-bold">@Html.DisplayNameFor(model => model.DaysOccupied)</td>
                            <td class="font-weight-bold">Admit Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.DisplayFor(model => model.WingName)</td>
                            @if (Model.IsOccupied == true)
                            {
                                <td>
                                    <a href="/Residents/Details/@ViewBag.ResidentID" class="page-link">@ViewBag.Resident</a>
                                </td>
                                <td>@Html.DisplayFor(model => model.DaysOccupied)</td>
                                <td>@ViewBag.AdmitDate</td>
                            }
                            else
                            {
                                <td>
                                    No current resident
                                </td>
                                <td>
                                    None
                                </td>
                                <td>
                                    
                                </td>
                            }

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
