@model IEnumerable<FIVESTARVC.Models.Room>
@using FIVESTARVC.Helpers

@{
    ViewBag.Title = "Index";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">

        $(document).ready(function () {
            $(".getdate").each(function () {
                $(this).datepicker();
            });
        });

    </script>
}
<style>
    .rooms table {
        width: 100%;
    }

    .rooms thead, .rooms tbody, .rooms tr, .rooms td, .rooms th {
        display: block;
    }

        .rooms tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        .rooms thead th {
            height: 50px;
            /*text-align: left;*/
        }

    .rooms tbody {
        height: 200px;
        overflow-y: auto;
    }

    .rooms thead {
        /* fallback */
    }

        .rooms tbody td, .rooms thead th {
            width: 15.2%;
            float: left;
        }
</style>

@*<h2>!!CAUTION!! This will add or edit the ROOMS in the database.</h2>*@
<br />
<li class="btn-block">
    <button class="btn btn-success" onclick="location.href='/Rooms/Create';"><i class="fa fa-plus fa-fw"></i> Room</button>

    <button class="btn" onclick="location.href='/Residents/Index';"><i class="fa fa-arrow-left fa-fw"></i> Residents</button>
    &nbsp;

</li>
@*<div class="form-inline">

        Find by name:&nbsp;

        @Html.TextBox("searchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })
        &nbsp;<input class="btn btn-sm btn-outline-secondary" type="submit" value="Refine" />
    </div>*@


<br />
<div class="container">
    <div class="row">
        <div class="col-md-10">
            @using (Html.BeginForm("Index", "Rooms", FormMethod.Get))
                {

                    <div>Find room(s) by admit date:<br /></div>
                                        
                        <div class="form-inline" style="margin-bottom: 1em;">

                    <input class="form-control-sm" data-val="true" id="searchString" name="searchString" type="date" value="" />

                    @*@Html.TextBox("searchString", "", htmlAttributes: new { @class = "getdate" })*@
                    &nbsp;<input class="btn btn-sm btn-outline-secondary" type="submit" value="Search by Date" />
                </div>

            }

            <br />
            <table class="rooms table table-sm table-striped" style="width: 100%;">
                <thead style="margin-bottom: 5px;">
                    <tr>
                        <th style="width: 8em">
                            @Html.DisplayNameFor(model => model.RoomNumber)
                        </th>
                        <th style="width: 12em">
                            @Html.DisplayNameFor(model => model.CurrentResident)
                        </th>
                        <th style="width: 12em">
                            @Html.DisplayNameFor(model => model.LastResident)
                        </th>
                        <th style="width: 8em">
                            @Html.DisplayNameFor(model => model.IsOccupied)
                        </th>
                        <th style="width: 5em">
                            @Html.DisplayNameFor(model => model.WingName)
                        </th>
                        <th>

                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomNumber)
                            </td>
                            <td style="width: 12em;">
                                @Html.DisplayFor(modelItem => item.CurrentResident)
                            </td>
                            <td style="width: 12em;">
                                @if (string.IsNullOrEmpty(item.ClearLastResident))
                                {
                                    <text>None</text>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.ClearLastResident)
                                }
                            </td>
                            <td style="width: 8em">
                                @(item.IsOccupied ? "Yes" : "No")
                            </td>
                            <td style="width: 10%">
                                @Html.DisplayFor(modelItem => item.WingName)
                            </td>

                            <td class="btn-block">
                                @if (item.HasLogDetails)
                                {
                                <input type="button" class="btn btn-sm" value="Details" onclick="location.href='/Rooms/Details/@item.RoomNumber';" />
                                }

                                @if (!item.IsOccupied)
                                {
                                    <input type="button" class="btn btn-sm btn-danger" value="Delete" onclick="location.href='/Rooms/Delete/@item.RoomNumber';" />
                                }

                                &nbsp;

                            </td>

                        </tr>

                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<br />



